name: Push to Replicate

on:
  push:
    branches:
      - main
    paths-ignore:
      - 'README.md'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      # 1. 용량 확보 (이거 덕분에 빌드 성공함!)
      - name: Free Disk Space (Ubuntu)
        uses: jlumbroso/free-disk-space@main
        with:
          tool-cache: false
          android: true
          dotnet: true
          haskell: true
          large-packages: true
          docker-images: true
          swap-storage: true

      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Cog
        uses: replicate/setup-cog@v1
        with:
          token: ${{ secrets.REPLICATE_API_TOKEN }}
          install-cuda: false

      # [NEW] 2. 이미지를 숨기지 않도록 '기본 드라이버'로 설정 변경
      - name: Configure Docker Builder
        run: |
          docker buildx create --use --driver=docker

      # 3. 배포 (모델 이름 확인 필수!)
      - name: Push to Replicate
        run: |
          cog push r8.im/r4z0rdev/zero-dce-model
